/*=======================
		About Section
=======================*/
#aboutSection {
    padding-top: 75px; /* To account for fixed header */
}
  
@media (max-width: 410px) {
    #aboutSection img {
      width: 100%;
      max-width: none; 
    } 
}