/*=======================
		Education Section
=======================*/
#educationSection .eduYears {
    font-size: .75em;
    margin-left: 0.5em;
    font-weight: 200; 
    color: #b9b9b9;
}
  
#educationSection h3 {
margin-bottom: 0;
}
  
#educationSection h4 {
    margin-top: 0.25em;
    font-weight: 200;
    text-transform: none;
    color: gray;
}
  
.eduContainer {
    border-bottom: 1px solid #e3e3e3;
    padding: 1em 0;
}
  
.eduContainer:last-child  {
    border-bottom: none;
    padding-top: 1em;
}