$orange: #ef3e24;
$blue: #35869D;
$gray: #f6f6f6;
$light-text: white;
$dark-text: #333333;
$header-font: 'Cabin', sans-serif;
$paragraph-font: 'Roboto', sans-serif;


/*=================
	Main
=================*/
	body{
		margin: 0;
		padding: 0;
		font-family: $paragraph-font;
		p{
			margin-top: 0;
			font-size: 1.5em;
			line-height: 1.75em;
		}
		h1,h2,h3,h4,h5,h6{
			font-family: $header-font;
			text-transform: uppercase;
		}
	}

	.row{
		width: 100%;
		box-sizing: border-box;
		clear: both;
	}

	.container{
		width: 90%;
		max-width: 1000px;
		margin: 0 auto 0 auto;
		padding: 2em 1em 2em 1em;
		box-sizing: border-box;
		clear: both;
	}


	.row:after, .container:after{
	   content: " ";
	   display: block; 
	   height: 0; 
	   clear: both;
	}

/*==============
	Navigation
===============*/

	nav{
		position: fixed;
		z-index: 300;
		.container{
			padding: 0 1em 0 1em;
		}
		ul{
			float: right;
			li{
				font-family: $header-font;
				display: inline-block;
				padding-right: 1em;
				padding-left: 1em;
				a{
					color: $light-text;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: bold;

				}
			}
		}
	}

	#navLogo{
		display: none;
		img{
			height: 40px;
			margin-top: 5px;
		}
	}

	.solid-nav{
		background-color: white;
		box-shadow: 0 0 10px #d3d3d3;
	    transition: all 0.4s linear;
	    a{	
			color: $dark-text;
	    }
	    #navLogo{
	    	display: inline;
	    }
	}

	.solid-nav-text{
		color: $dark-text;
	}

	#btn-small-nav{
		display: none;
		float: right;
		margin-top: .4em;
	}

	#mobile-menu{
		display: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: 200;
		background-color: white;
		ul{
			width: 100%;
			border: 1px solid green;
			position: absolute;
			top: 40%;
			list-style: none;
			padding-left: 0;
			text-align: center;
			color: black;
			li{
				a{
					text-decoration: none;
					text-transform: uppercase;
					font-weight: bold;
				}			
			}
		}
	}

	@media (max-width: 680px){
		#big-nav{
			display: none;
		}

		#btn-small-nav{
			display: block;
		}
	}

	@media (min-width: 681px){
		#mobile-menu{
			display: none;
		}
	}

/*======================
	Header
=======================*/
	header{
		height: 100vh;
		background-color: $blue;
		background-position: center;
		position: relative;
		img{
			width: 100%;
		}
		div{
			color: white;
			position: absolute;
	 		top: 50%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);
	  		h1{
	  			margin: 0;
	  			text-align: center;
	  			text-transform: uppercase;
	  		}
		}
		#btnDown{
			position: absolute;
	 		bottom: 5%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);
		}
	}

	#btnDown{
		display: inline-block;
	  	border-radius: 50%;
	}

	#downArrow {
	  display: inline-block;
	  width: 3em;
	  height: 3em;
	  border: 0.2em solid white;
	  border-radius: 50%;
	}

	#downArrow:after {
	  content: '';
	  display: inline-block;
	  margin-top: 0.75em;
	  width: 1em;
	  height: 1em;
	  border-top: 0.2em solid white;
	  border-right: 0.2em solid white;
	  transform: rotate(135deg);
	  margin-left: .87em;
	}

/*=======================
		About Section
=======================*/
	#aboutSection{
		background-color: $gray;
		h2{
			color: $blue;
		}
	}

/*=======================
		Education Section
=======================*/
	#educationSection{
		.eduYears{
			font-size: .75em;
		}
	}

/*=======================
		Projects Section
=======================*/
	#projectsSection{
		background-color: $gray;
		ul{
			padding-left: 0;
			li{
				list-style: none;
				display: block;
				overflow: hidden;
				background-color: white;
				img{
					width: 50%;
					display: block;
					box-sizing: border-box;
					border: 3px solid black;
					float: left;
				}
				.projectInfo{
					width: 50%;
					box-sizing: border-box;
					float: left;
					padding: .5em 2em .5em 2em;
					p{
						font-size: 1.25em;
						line-height: 1.5em;
					}
					h3{
						margin-top: 0;
					}
				}
			}

		}
	}

	.projectContain{
		clear: both;
		margin-top: 2em;
	}