<!DOCTYPE html>
<html>
<head>
	<title>Tyler S. Morren | Web Developer</title>
	<link rel="icon" href="img/favicon.ico" type="image/gif" sizes="16x16">
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-aNUYGqSUL9wG/vP7+cWZ5QOM4gsQou3sBfWRr/8S3R1Lv0rysEmnwsRKMbhiQX/O" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="top">
	<!-- Universal Navigation Bar -->
	<nav class="row">
		<div class="container">
			<a href="#top" id="navLogo"><img src="img/tsm_black.png"></a>
			<ul id="big-nav">
				<li><a href="#aboutSection">About</a></li>
				<li><a href="#educationSection">Education</a></li>
				<li><a href="#projectsSection">Projects</a></li>
				<li><a href="#contactSection">Contact</a></li>
			</ul>
			<i id="btn-small-nav" class="fa fa-bars fa-2x burger-icon"></i>
		</div>
	</nav>

	<!-- Mobile Navigation Menu -->
	<div id="mobile-menu">
		<ul>
			<li><a href="#aboutSection" class="btnMobileLink">About</a></li>
			<li><a href="#educationSection" class="btnMobileLink">Education</a></li>
			<li><a href="#projectsSection" class="btnMobileLink">Projects</a></li>
			<li><a href="#contactSection" class="btnMobileLink">Contact</a></li>
		</ul>
	</div>

	<!-- Full Width Header -->
	<header class="row">
		<div>
			<img src="img/tsm_white.png">
			<h1>WEB DEVELOPER</h1>
		</div>
		<a id="btnDown" href="#aboutSection"><span id="downArrow"></span></a>
	</header>

	<!-- About Section -->
	<section id="aboutSection" class="row">
		<div class="container">
			<h2>About</h2>

			<p>My name is <strong>Tyler S. Morren</strong>, and I am a <strong>Web Developer</strong>. I originally went to school for Civil Engineering, but during my last semester, I realized I wanted to do something different. So I started teaching myself the basics of Web Development while finishing school. I learned the basics of <strong>HTML, CSS, and JavaScript</strong> through Khan Academy and loved it.</p>

			<p>Two days after I graduated with my Civil Engineering degree, I was back in school for Web Development. Since then, I have received a <strong>Web Development Certificate</strong> and have continued to learn as much as I can about the field. In school, on top of the basics, I learned how to use <strong>PHP, MySQL, jQuery, Bootstrap, and WordPress.</strong></p>

			<p>In my free time, I have been doing my best to keep up with current web technologies. My next goal is to learn more about <strong>AngularJS and Node.js.</strong></p>
		</div>
	</section>

	<!-- Education Section -->
	<section id="educationSection" class="row">
		<div class="container">
			<h2>Education</h2>

			<h3>Rutgers University <span class="eduYears">(2010-2015)</span></h3>
			<h4><i>Civil Engineering B.S.</i></h4>
			<p>Although Civil Engineering isn't directly related to Web Development, I learned a lot of valuable skills. The most important skills I learned were critical thinking and planning.</p>

			<h3>Raritan Valley Community College <span class="eduYears">(2015-2016)</span></h3>
			<h4><i>Web Development Certificate</i></h4>
			<p>While earning my certificate, I gained experience in HTML, CCS, JavaScript, jQuery, WordPress, MySQL, and PHP. I also learned the basics of web design and how to plan a website.</p>
		</div>
	</section>

	<!-- Projects Section -->
	<section id="projectsSection" class="row" data-ng-app="projectsApp">
		<div class="container" data-ng-controller="projectsCtrl">
			<h2>Projects</h2>
			<ul>
				<li data-ng-repeat="project in projects" class="projectContain">
					<img data-ng-src="img/{{ project.image }}">
					<div class="projectInfo">
						<h3 data-ng-bind="project.name"></h3>
						<p data-ng-bind="project.description"></p>
						<a data-ng-href="{{ project.link }}" target="_blank"><i class="fa fa-link fa-2x" aria-hidden="true"></i></a>
						<a data-ng-href="{{ project.github }}" target="_blank" data-ng-show="'{{ project.github }}' != ''"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
						<ul>
							<li data-ng-repeat="tech in project.tech" data-ng-bind="tech" class="techItem"></li>
						</ul>
					<div>
				</li>
			</ul>
		</div>
	</section>

	<!-- Contact Section -->
	<section id="contactSection" class="row">
		<div class="container">
			<h2>Contact</h2>
			<p>Have any questions?</p>
			<a ><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
			<a><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/tmorren9/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
		</div>
	</section>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="js/jquery-2.2.3.js"></script>
	<script src="js/nav.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
			

</body>
</html>